* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.header .logo img {
    width: 65px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: left; 
    padding-left: 100px; 
    color: #fff;
}

.main-content {
    background-image: url('Imágenes Poli Trade/Fondo.png');
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: 60px; 
}

.hero-logo img {
    width: 100px;
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-button button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
}

.hero-button button:hover {
    background-color: #555;
}

/* Estilos para secciones adicionales */
.section {
    padding: 80px 20px;
    text-align: center;
    min-height: 80vh;
}

/* Efecto de desplazamiento suave */
html {
    scroll-behavior: smooth;
}